.oppost{
    &__header{
        display: flex;
        align-items: center;
        margin: 10px 0;
        color: var(--theme_default_alttext);
    }

    &__btns{
        button{
            padding: 0;
        }

        display: flex;
        margin-left: 10px;
    }

    &__btns-wr {
        margin-left: 10px;
        button + button {
            margin-left: 3px;
        }
    }
}