.triangle {
    shape-rendering: geometricPrecision;
    text-rendering: geometricPrecision;
    image-rendering: optimizeQuality;
    fill-rule: evenodd;
    clip-rule: evenodd;

    .str0 {
        stroke: #fefefe;
        stroke-width: .3;
    }
    .fil0 {
        fill: var(--theme_default_icon);
    }
    .fil1 {
        fill: #fefefe;
    }
}
