.btn-refresh {
    .str0 {
        stroke: var(--theme_default_icon);
        stroke-miterlimit: 22.9256;
        stroke-width: 3;
    }
    .str1 {
        stroke: var(--theme_default_postbg);
        stroke-width: 2;
        stroke-miterlimit: 22.9256;
    }
    .fil1 {
        fill: none;
    }
    .fil0 {
        fill: var(--theme_default_postbg);
    }

    .refresh {
        shape-rendering: geometricPrecision;
        text-rendering: geometricPrecision;
        image-rendering: optimizeQuality;
        fill-rule: evenodd;
        clip-rule: evenodd;
    }
}
