.post-common-images {
    display: flex;
    flex-wrap: wrap;
    margin: 0 36px;

    &__img {
        cursor: pointer;
        max-width: 220px;
        max-height: 220px;
    }

    &__video {
        cursor: pointer;
        max-width: 220px;
        max-height: 220px;
        border: 1px dashed var(--theme_default_alttext);
    }

    &__img-wr {
        margin-right: 15px;
        .btn-magnifier + .btn-download {
            margin-left: 4px;
        }
    }

    &__title {
        display: flex;
        &-btns {
            display: flex;
            align-items: center;
            margin-left: 4px;
        }
    }
}
